.counter_text {
    transition: all 0.5s ease-in-out;
}

.fading {
    animation: fadeOut 0.5s ease-out forwards;
}
.fadingIn {
    animation: fadeIn 0.5s ease-out forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.8;
    }
    100% {
        opacity: 0;
    }
}