.App {
    text-align: center;
    color: #FFFFFF;
    background-color: #272727 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.timerwrap {
    width: 400px;
    padding: 10px 5px;
    border: 1px solid #AAAAAA;
    border-radius: 5px;
    background-color: #161B1F;
}

.timer_text {
    font-size: 62px;
    transition: opacity 1s ease;
}

.btn_rounded {
    background-color: #414D5A !important;
    color: #fff;
    border: 0px;
    height: 60px;
    width: 60px;
    line-height: 20px;
    border-radius: 50%;
}

.actionWrap {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icon_button {
    cursor: pointer;
    height: 40px;
}


.modal_wrap {
    background: #212121 !important;
}

.fade-in {
    transition: opacity 1s ease;
}

.fade-out {
    opacity: 0;
    transition: opacity 1s ease;
}